<div fxLayout="row">
  <div fxFlex="50%">
    <h1>
      Application Links
    </h1>
  </div>
</div>
<div class="card-container"
  fxLayout="row wrap" 
  fxLayoutAlign="start">
  <mat-card class="card-item" mat-ripple *ngFor="let application of applications" 
    fxFlex="20%"
    fxFlex.md="20%"
    fxFlex.sm="40%"
    fxFlex.xs="100%"
  >
    <a href="{{application.appUrl}}">
      <mat-card-content class="logo-container">
        <p class="logo-description">
          {{ application.description}}
        </p>
          <img class="logo-img" mat-card-image [src]="application.imgUrl">
      </mat-card-content>
      <mat-card-header>
        <mat-card-title>{{application.name}}</mat-card-title>
        <mat-card-subtitle>{{application.version}}</mat-card-subtitle>
      </mat-card-header>
    </a>
  </mat-card>
</div>