.card-container {
  // width: 100%;
  // position: relative;
  // padding: 20px;
  // padding-left: 130px;
  // margin-top: 20px;
  // border-radius: 2px;
  // background-color: #f5f5f5;
  max-width: 100em;
}

.card-item {
  margin: 10px;
  padding: 0;;
}

.logo-description {
  display: none;
  box-sizing: content-box;
  text-align: center;
}

.logo-img {
  width: 90%;
}

.logo-container:hover .logo-description {
  display: flex;
  height: 20em;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.04);
}
.logo-container:hover .logo-img {
  display: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.mat-card-image {
  padding: 15px;
  margin: 0;
}

mat-card-header {
  padding: 0 0 0 5px;
}