<div fxLayout="row">
  <div fxFlex="50%">
    <h1>
      Jobs
    </h1>
  </div>
</div>

<!-- Data Table -->
<app-data-table 
  id="app-job-list" 
  [data]="jobs$ | async" 
  [tableDefinition]="tableDefinition" 
  [hasActions]="true" 
  [actions]="{'view': onViewItem}" 
  [selectable]="false"
></app-data-table>
