<app-job-progress *ngIf="jobItemStatus" [jobStatus]="jobItemStatus"></app-job-progress>
<div fxLayout="row">
    <div fxFlex="50%">
        <h1>
            Summary
        </h1>
    </div>
</div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                JOB
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-data-table id="app-job-list" [data]="summaryJob$ | async" [tableDefinition]="jobTableDefinition"
            [hasActions]="false" [actions]="{'view': onViewItem}" [selectable]="false"></app-data-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Data
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-data-table id="app-job-list" [data]="summaryData$ | async" [tableDefinition]="dataTableDefinition"
            [hasActions]="false" [actions]="{'view': onViewItem}" [selectable]="false"></app-data-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                FILE
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-data-table id="app-job-list" [data]="summaryFile$ | async" [tableDefinition]="fileTableDefinition"
            [hasActions]="false" [actions]="{'view': onViewItem}" [selectable]="false"></app-data-table>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                ERROR
            </mat-panel-title>
        </mat-expansion-panel-header>
        <textarea readonly>{{ summaryError }}</textarea>
    </mat-expansion-panel>
</mat-accordion>