<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="50%">
    <h1>
      Manage Application Links
    </h1>
  </div>
  <div fxFlex="50%" align="right">
    <button type="button" mat-mini-fab color="primary" (click)="onAdd()" matTooltip="Create New">
      <mat-icon class="mat-18">add</mat-icon>
    </button>
  </div>
</div>

<!-- Data Table -->
<app-data-table 
  id="app-manage-apps-table" 
  [data]="apps$ | async" 
  [tableDefinition]="tableDefinition" 
  [hasActions]="false" 
  [selectable]="true"
  (selectRow)="onItemClicked($event)"
></app-data-table>
