<div fxLayout="row">
  <div fxFlex="50%">
    <h1>
     {{ isCreateMode ? 'Create' : 'Edit' }}  Application
    </h1>
  </div>
</div>
<app-manage-app-form *ngIf="docs || isCreateMode" [model]="application" [docs] ="docs"></app-manage-app-form>