
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef> App </th>
    <td mat-cell *matCellDef="let element">
      <img src="{{element.logoUrl}}">
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="link-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <mat-nav-list>
          <mat-list-item *ngFor="let link of element.docs" (click)="openLink(link.url)" class="link-item">
            <a matLine>{{ link.name }}</a>
            <small> Documentation</small>
            <a mat-icon-button href="{{link.url}}" target="_blank">
            </a>
            <mat-icon>link</mat-icon>
          </mat-list-item>
        </mat-nav-list>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="link-item-row"></tr>
</table>