
tr.link-item-row {
  height: 0;
}

mat-nav-list {
  width: 30%;
  padding: 0 2%;
}

img {
  width: 12%;
}

.link-detail {
  overflow: hidden;
  display: flex;
}

.link-item {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.mat-header-cell {
  font-size: 14px;
}
