table {
  width: 100%;
  table-layout: fixed;
}

mat-form-field {
  width: 100%;
}

.mat-tab-link{
  font-size: 16px;
}

formly-field {
  font-size: 16px;
}

.mat-toolbar, .mat-toolbar-single-row {
  height: 100px !important;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: #ebebeb;
}