<div fxLayout="row wrap">
    <div fxFlex="40%">
        <lib-form-view [fields]="fields" [model]="model">
        </lib-form-view>
    </div>
</div>
<form class="form" [formGroup]="dynamicForm" (ngSubmit)="onSaveForm()">
    <div *ngFor="let doc of documentArray.controls; let j = index;"
        formArrayName="docs">
        <div [formGroupName]='j'>
            <fieldset>
                <legend>
                    <h3>Documentation Link {{ j + 1 }}:</h3>
                </legend>
                <mat-form-field>
                    <input matInput placeholder="Display Name"  formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Documentaion URL" formControlName="url">
                </mat-form-field>
                <button mat-raised-button (click)="removeDocLink(j)">Remove Link</button>
            </fieldset>
        </div>
    </div>
    <div fxLayout="row" class="button-row" fxLayoutGap="10px">
        <button mat-raised-button (click)="addDocLink()">Add Doc Link</button>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
</form>

