<div class="gobii-app-theme">
    <lib-top-navbar (logout)="onLogout()" [user]="user">
        <div app-logo>
            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                <img class="app-logo" src="./../assets/gobii-gdm.png">
            </a>
        </div>
    </lib-top-navbar>

    <mat-sidenav-container class="app-root" fullscreen autosize>
        <mat-sidenav-content>
            <section class="app-layout" fxLayout="column" fxLayout.gt-sm="row">
                <div class="app-layout__content" id="app_content" fxFlex ngClass.gt-sm="gt-sm">
                    <!-- ROUTE CONTENT -->
                    <mat-card>
                        <mat-card-content>
                            <router-outlet></router-outlet>
                        </mat-card-content>
                    </mat-card>
                </div>
            </section>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>