@import "~@angular/material/theming";

.mat-sidenav-container[fullscreen] {
  top: 100px;
}

.app-logo {
  width: 12%;
}

mat-sidenav {
  z-index: auto !important;
}

.app-sidenav {
  background-color: map_get($mat-grey, 100);
  overflow-x: hidden;
  padding-bottom: 40px;
}

.app-layout {
  width: 100%;
  box-sizing: border-box;
}

.app-layout__content {
  padding: 0px 20px 50px 20px;
  &.gt-sm {
    padding-right: 50px;
    padding-left: 50px;
    max-width: 100em;
    margin: auto;
  }
}
