<nav mat-tab-nav-bar class="tab-nav-bar" id="tabs">
  <span *ngFor="let link of dynamicTabs">
    <a  mat-tab-link [name]="link.label" *ngxPermissionsOnly="link.permissions || null" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link.label}}
    </a>
  </span>
</nav>