@import "~@angular/material/theming";
/* Structure */

.data-table-table {
  overflow: auto;
  width: 100%;
}

// hover state
.selectable .mat-row {
  &:hover {
    cursor: pointer;
    background: map_get($mat-grey, 100);
  }
}

.data-table-row.is-disabled {
  background: #e2e2e2;
}

/* Mat table */

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
  min-height: 200px;
}

.actions-cell {
  flex: 0 0 6%;
}

mat-header-row,
mat-row {
  min-width: fit-content;
}

.mat-header-cell {
  font-size: 14px;
}

/* Mat icons*/

.icon-text-red {
  color: red;
}

.icon-text-green {
  color: green;
}

.icon-text-orange {
  color: darkorange;
}

/* Image icons*/
.small-icon {
  width: 12%;
}
