<!-- Table -->
<div class="data-table-container" id="app_data_table_container" >
  <mat-table [dataSource]="data" class="data-table-table" id="app_data_table" [ngClass]="{'selectable': selectable}"
    matSort [matSortDisabled]="tableSortDisabled" [matSortActive]="sortActive" matSortDisableClear [matSortDirection]="sortDirection">

    <!-- Dynamic Columns -->
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
      <mat-header-cell [mat-sort-header]="column.sortKey" [disabled] = "column.sortDisabled" [id]="'app_data_table_' + column.header" *matHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let row">

        <!-- Formatters -->
        <span [ngSwitch]="column.formatter">
          <span *ngSwitchCase="'Checkbox'">
            <mat-checkbox [checked]="row[column.columnDef]" [disabled]="column.disabled || readOnly" (change)="onCheckboxSelect(row, column.columnDef)"></mat-checkbox>
          </span>
          <span *ngSwitchCase="'ChipList'">
            <mat-chip-list class="schema-chip-list">
              <mat-chip *ngFor="let chip of row[column.columnDef]">{{ chip }}</mat-chip>
            </mat-chip-list>
          </span>
          <span *ngSwitchCase="'Date'">
            {{ renderCellValue(row, column.columnDef) | date: dateFormat }}
          </span>
          <span *ngSwitchCase="'DateTime'">
            {{ renderCellValue(row, column.columnDef) | date: dateTimeFormat }}
          </span>
          <span *ngSwitchCase="'ImageIcon'">
            <img class="small-icon" src="{{row[column.columnDef]}}">
          </span>
          <span *ngSwitchCase="'Status'">
            <span [ngSwitch]="row[column.columnDef]">
              <span *ngSwitchCase="'COMPLETED'">
                  <mat-icon class="material-icons icon-text-green">check_circle_outline</mat-icon>
              </span>
              <span *ngSwitchCase="'FAILED'">
                  <mat-icon class="material-icons icon-text-red">highlight_off</mat-icon>
              </span>
              <span *ngSwitchDefault>
                  {{ renderCellValue(row, column.columnDef) }}
              </span>
            </span>
          </span>
          <span *ngSwitchDefault>
            {{ renderCellValue(row, column.columnDef) }}
          </span>
        </span>

      </mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="actions"></mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index" class="action-cell">
        <div *ngFor="let action of actions">
          <div [ngSwitch]="action.name" *ngIf="!readOnly">
            <div *ngSwitchCase="'view'">
              <button mat-icon-button color="primary" (click)="onClickAction(row, action, $event)">
                <mat-icon aria-label="details">dehaze</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="data-table-row"
    (click)="onClickRow(row)"></mat-row>
  </mat-table>

  <!-- No Results -->
  <div id="app_data_table_no_results" class="no-results" [style.display]="!data || data.length == 0 ? '' : 'none'">
    No results
  </div>

  <!-- Paginator -->
  <mat-paginator [hidden]="!page" id="app_tovs_paginator" [length]="page?.totalElements" [pageSize]="page?.size"
    [pageIndex]="page?.number" [pageSizeOptions]="[10, 20, 50]">
  </mat-paginator>

</div>
