input.ng-invalid.ng-touched {
    border: 2px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid inherit;
}
.field-alert {
    margin-bottom:0px !important;
    padding: 11px !important;

}
a.disabled {
    pointer-events: none;
    cursor: default;
}

.cleared {
    clear: both;
}
a {
    color:black;
}
.remove-padding {
    margin-bottom:5px;
    margin-top:-5px;
}
/* Override to PFR greens */
body {
    background-color: lightgrey;
}
.panel {
    border-color:lightgray !important;
    /*background-color: lightgrey;*/
}
.panel-info, navbar-inverse {
    border-color:rgb(3, 60, 115);
}
.btn-primary{
    /*border-color:#699934;*/
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: green !important;
}

.navbar-inverse{
    border-color:rgb(3, 60, 115);
}
h1,h2,h3, a {
    /*color:black;*/
}
.no-padding {
    padding: initial;
}

.text-left {
    text-align: left;
}

.text-right{
    text-align: right;
}

.flex{
    display: flex;
}

.stretch{
    align-items: stretch;
}

input[type=checkbox] {
     margin: auto;
}

.disable-mask {
  opacity: 0.4;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

/* Layout filling */
.layout {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.layout-row {
    flex-direction: row;
}

.layout-align-space-between-center {
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: space-between;
}

.layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

/* from http://stackoverflow.com/questions/13778703/adding-open-closed-icon-to-twitter-bootstrap-collapsibles-accordions */
.accordion-caret .accordion-toggle:not(.collapsed):before {
    content: "-";
    margin-right: 3px;
}

.accordion-caret .accordion-toggle.collapsed:before {
    content: "+";
    margin-right: 0px;
}

#accordion a {
    font-size: 16px;
    color: #666;
}

#accordion a:hover, a:focus{
    color: black;
}

#accordion .selected-page{
    color: black;
}

#accordion .disabled {
    pointer-events: none;
    cursor: default;
    color: #aaa;
}

.fpi-text {
    font-size: 150%;
}

.big-panel {
    height: auto;
}

.btn:focus,
.btn.focus {
      background-color: #2c3e50 !important;
}

.indicator-pass {
    color: green;
    font-weight: bold;
}

.indicator-fail {
    color: red;
    font-weight: bold;
}

.glyphicon-spin {
    animation: spin 1000ms infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}
body { margin: 0; }
