<div fxLayout="row">
  <div fxFlex="50%">
    <h1>
      Job - {{ jobName }}
    </h1>
  </div>
</div>

<mat-horizontal-stepper *ngIf="checkJobType(); else load" labelPosition="bottom">
  <mat-step label="Submitted" editable="false" [state]="submitState"></mat-step>
  <mat-step label="Extracting Metadata" [state]="metadataState"></mat-step>
  <mat-step label="Extracting Genotypes" [state]="genotypeState"></mat-step>
  <mat-step label="Formatting" [state]="formattingState"></mat-step>
  <mat-step label="Qcing" [state]="qcingState"></mat-step>
  <mat-step label="Completed" [state]="completedState"></mat-step>
  <ng-template matStepperIcon="done">
    <mat-icon class="material-icons">done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="error">
    <i class="material-icons size">error</i>
  </ng-template>
  <ng-template matStepperIcon="more_horiz">
    <i class="material-icons md-36 iconGreen">more_horiz</i>
  </ng-template>
  <ng-template matStepperIcon="panorama_fish_eye">
    <mat-icon class="material-icons md-36">panorama_fish_eye</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<ng-template #load>
  <mat-horizontal-stepper labelPosition="bottom">
    <mat-step label="Submitted" editable="false" [state]="submitState"></mat-step>
    <mat-step label="Digesting" [state]="digestingState"></mat-step>
    <mat-step label="Transforming" [state]="transformingState"></mat-step>
    <mat-step label="Validating" [state]="validatingState"></mat-step>
    <mat-step label="Loading" [state]="loadingState"></mat-step>
    <mat-step label="Qcing" [state]="qcingState"></mat-step>
    <mat-step label="Completed" [state]="completedState"></mat-step>
    <ng-template matStepperIcon="done">
      <mat-icon class="material-icons">done</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="error">
      <i class="material-icons size">error</i>
    </ng-template>
    <ng-template matStepperIcon="more_horiz">
      <i class="material-icons md-36 iconGreen">more_horiz</i>
    </ng-template>
    <ng-template matStepperIcon="panorama_fish_eye">
      <mat-icon class="material-icons md-36">panorama_fish_eye</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</ng-template>